body{
    background-color: rgb(166, 227, 227);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.resposta {
    cursor: pointer;
}

.resposta:hover {
    background-color: #f9f9f9;
}

.progress-bar{
    height: 14px;
    width: 300px;
    background-color: #cecece;
    border-radius: 5px;
}

.progress {
    height: 100%;
    width: 0;
    background-color: #0a58ca;
    transition: .2s linear;
}